.instruct, .ingred {

    font-size: 40px;
    font-weight: 700;

}

.instruct {
    color: red;
    background-color: silver;}

.ingred {
    color: white;
    background-color: red;

}

html {
    /*font-family: Arial, Helvetica;*/
    font-family: Arial, sans-serif ;
}

button#home-button {
    display: block;
    padding: 3px;
    margin: auto;
    width: 150px;
    height: 30px;
    outline-style:groove;
    outline-width: 6px;
    outline-color: silver;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: 700;
}