#lurou-image {
    width: 450px;
    height: 600px;
}

.header.ingred {
    background-color: rgb(16, 16, 139);

    color: white;
    font-weight: 700;
    font-size: 40px;
}

.header.instruct {
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

html {
    font-family: monospace;
}

button#home-button {
    display: block;
    padding: 3px;
    margin: auto;
    width: 150px;
    height: 30px;
    outline-style: groove;
    outline-width: 6px;
    outline-color: red;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight: 700;
}



/* flexbox stuff */
.image-text-container {
    /* border: 2px red solid; */
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
}

#lurou-image {
    flex: 0 1 auto;
}

div.subtitle {
    /*border: purple 4px solid; */
    margin-left: 15px;
    width: 900px;
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

div.text-1 {
/*    border: 2px green solid; */
    flex: 1 1 auto;
}

div.images-container {
/*    border: 2px blue solid; */
    flex: 1 1 auto;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-end;
}


.row-image-1,.row-image-2,.row-image-3 { 
    width: 400px;
    height: 250px;
    flex: 0 1 auto;
}

/*
.row-image-1,
.row-image-2,
.row-image-3 {
    flex: 1 1 0;
    width: 400px;
    height: 250px;
}