#lurou-image {
    width: auto;
    height: 600px;
}

li {

}

.subtitle {
    font-size: 13px;
    font-weight: 700;
}

.header.ingred {
    background-color: rgb(16, 16, 139);

    color: white;
    font-weight: 700;
    font-size: 40px;
}

.header.instruct {
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

html {
    font-family: monospace;
}

button#home-button {
    display: block;
    padding: 3px;
    margin: auto;
    width: 150px;
    height: 30px;
    outline-style:groove;
    outline-width: 6px;
    outline-color: red;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight: 700;
}

/*
button#home-button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;

}
*/

/* #spice-list { */
/*h4 {
    margin: auto;
    text-align: center;
    width: 450px;
} */