#lurou-image {
    width: auto;
    height: 600px;
}

li {

}

.subtitle {
    font-size: 13px;
    font-weight: 700;
}

.header.ingred {
    background-color: rgb(16, 16, 139);

    color: white;
    font-weight: 700;
    font-size: 40px;
}

.header.instruct {
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

html {
    font-family: monospace;
}

button#home-button {
    padding: 3px;
    margin: 0px 20px;
    width: 10%;
    height: 30px;
    outline-style:double;
    outline-width: 6px;
    outline-color: purple;
    border-radius: 20px;
    background-color: rgb(213, 51, 213);
}

/* #spice-list { */
/*h4 {
    margin: auto;
    text-align: center;
    width: 450px;
} */