html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2.ingred {
    color: white;
    background-color: red;
}

h2.instruct {
    color: white;
    background-color: darkblue;
}